body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.content {
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.nav {
  margin: 0 auto;
  text-align: center;
}

.footer {
  margin: 0 auto;
  text-align: center;
}

.header {
  margin: 0 auto;
  text-align: center;
}